window#osd {
  border-radius: 30px;
  border: none;
  background: #000000;
  border: 0px solid #606060;
}

window#osd #container {
  margin: 13px 24px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .7);
}

window#osd image,
window#osd label {
  color: #ffffff;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #191919;
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #ffffff;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
