/* ---------------
   --- Waybar ----
   --------------- */

* {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 0px 0px;
  opacity: 1;
  background: black;
  border: none;
}

/* Modules styling */
#custom-separator,
#workspaces,
#language,
#idle_inhibitor,
#custom-updates,
#window,
#pulseaudio,
#tray,
#idle_inhibitor,
#scratchpad,
#network,
#power-profiles-daemon,
#battery,
#clock,
#custom-power {
  margin: 0px 3px;
  padding: 0px 5px;
  font-size: 18px;
  font-family: 'JetBrains Mono Nerd Font', sans-serif;
  font-weight: 600;
  border-radius: 0px;
  border: none;
  opacity: 1;
  color: white;
}

#custom-separator {
  opacity: 0.15;
  font-size: .9rem;
  margin: 0px;
  padding: 0px 4px;
}

/* --- Fixes */

/* Font size normalize */
#clock,
#tray,
#tooltip {
  font-size: 16px;
}

/* Font weight normalize */
#tooltip,
#tray {
  font-weight: 400;
}

/* Font family normalize */
#tray,
#clock,
#tooltip,
#language {
  font-family: 'Adwaita Sans';
}


/* --- Visual fixes */

/* Secondary modules */
#tray,
#scratchpad,
#custom-updates,
#idle_inhibitor,
#language {
  margin-right: 12px;
}

#custom-updates {
  padding-left: 6px;
  padding-right: 2px;
}

#idle_inhibitor {
  padding-right: 14px
}

/* Primary modules */
#network {
  padding-right: 0px;
}

#clock {
  margin-left: 15px;
  font-weight: 600;
}

#pulseaudio {
  padding-right: 10px;
}

/* Battery states */
#battery {
  padding-right: 10px;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  color: #ff8080
}

#battery.plugged:not(.charging) {
  color: #ffb588
}

#battery.charging {
  color: #88ff88
}

/* Workspaces styling */
#workspaces {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

#workspaces button {
  padding: 0px 0px;
  margin: 13px 4px;
  min-height: 0px;
  min-width: 6px;
  border: none;
  color: inherit;
  box-shadow: none;
  background: white;
  font-size: 0;
  opacity: .5;
  border-radius: 100px;
}


#workspaces button.urgent {
  color: #ff8080
}

#workspaces button.empty {
  opacity: .25
}

#workspaces button.visible {
  opacity: 1;
  margin: 12px 4px;
  min-width: 28px;
}

#workspaces button:hover:not(.visible) {
  opacity: .8
}

tooltip {
  border-radius: 0px;
  border: 1px solid #404040;
  font-family: inherit;
  background: black;
  padding: 2px;
}
