/* ---------------
   --- Waybar ----
   --------------- */

@import url('./theme.css');

* {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0px;
  padding: 0px;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;

  padding: 0px 8px;
  opacity: 1;
  border: none;
  background: @bg;
}

/* Modules styling */
#custom-menu-trigger,
#custom-separator,
#custom-bluetooth,
#custom-menu,
#workspaces,
#language,
#idle_inhibitor,
#custom-updates,
#window,
#pulseaudio,
#tray,
#idle_inhibitor,
#scratchpad,
#network,
#power-profiles-daemon,
#battery,
#clock,
#custom-dnd,
#custom-power,
#cpu,
#memory,
#temperature,
#custom-screenrecord.recording,
#custom-power {
  margin: 0px 0px;
  padding: 0px 7px;
  font-size: 17px;
  font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
  font-weight: 500;
  border-radius: 0px;
  border: none;
  opacity: 1;
  color: @fg;
}

#custom-separator {
  opacity: 1;
  font-size: .9rem;
  margin: 0px;
  padding: 0px 2px;
  color: @fg;
  opacity: 0.4;
}

#language,
#clock,
#tray {
  font-family: 'Adwaita Sans';
}

#tray,
#language,
#clock {
  font-size: 16px;
}

#custom-menu-trigger {
  font-size: 14px;
  opacity: .6;
}

#custom-menu {
  font-size: 20px;
}

/* Workspaces styling */
#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  padding: 0px;
  margin: 0px;
  min-width: 28px;
  border: none;
  color: inherit;
  box-shadow: none;
  opacity: 1;
  background: transparent;
  transition: opacity .12s ease;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.empty {
  opacity: .5
}

#workspaces button.active {
  opacity: 1;
}

#workspaces button:hover:not(.active) {
  opacity: 1
}

tooltip {
  border-radius: 0px;
  border: 1px solid #404040;
  font-family: inherit;
  background: black;
  padding: 2px;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.plugged:not(.charing),
#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

#custom-screenrecord.recording {
  opacity: .6;
}
