@theme "/dev/null"
@import "active_theme.rasi"

* {
	  font: "JetBrainsMono Nerd Font 13";
    prompt-font: "JetBrainsMono Nerd Font Bold 13";
    rounding: 0px;
}

configuration {
	modi: "window,run,drun";
	display-drun: "drun";
	display-window: "windows";
	display-run: "run";
	drun-display-format: "{icon} {name}";
	show-icons: true;
}

window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       520px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    border:                      2px solid;
    border-color:                @fg;
    border-radius:               @rounding;
    cursor:                      "default";
    background-color:            @bg-opacity;
}

mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 horizontal;
    children:                    ["listbox" ];
}

listbox {
    spacing:                     8px;
    padding:                     6px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    ["inputbar", "message", "listview"];
}

inputbar {
    enabled:                     true;
    spacing:                     8px;
    padding:                     0px;
    border-radius:               @rounding;
    background-color:		         transparent;
    text-color:			             @fg;
    children:                    ["prompt", "entry" ];
}

prompt {
    background-color: @blue;
    font: @prompt-font;
    text-color: @bg;
    padding: 3px 7px;
    border-radius: @rounding;
}

entry {
    enabled:                     true;
    cursor:                      text;
    padding: 3px 0px;
    text-color:                  @fg;
    background-color:            transparent;
}

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       7;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     0px;
    background-color:            transparent;
    text-color:                  @fg;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     2px;
    padding:                     8px;
    border-radius:               @rounding;
    background-color:            @bg-darker;
    text-color:                  @fg;
    cursor:                      pointer;
}

element normal.normal {
    background-color:            @bg;
    text-color:                  @fg;
}

element normal.urgent {
    background-color:            @error;
    text-color:                  @fg;
}

element normal.active {
    background-color:            @bg-darker;
    text-color:                  @fg;
}

element selected.normal {
    background-color:            @accent;
    text-color:                  white;
}

element selected.urgent {
    background-color:            @error;
    text-color:                  @fg;
}

element selected.active {
    background-color:            @error;
    text-color:                  @fg;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

message {
    background-color:            transparent;
}

error-message {
    padding:                     12px;
    border-radius:               @rounding;
    background-color:            @bg-darker;
    text-color:                  @error;
}
