@theme "/dev/null"
@import "/theme.rasi"

configuration {
	modi: "window,run,drun";
	display-drun: "Applications";
	display-window: "Windows";
	display-run: "Run";
	drun-display-format: "{icon} {name}";
	font: "CaskaydiaCove Nerd Font 12";
	show-icons: true;
}

window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       450px;
    // height:                      365px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    border:                      2px solid;
    border-color:                @accent;
    border-radius:               @rounding;
    cursor:                      "default";
    background-color:            @bg-primary-opacity;
}

mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 horizontal;
    children:                    ["listbox" ];
}

listbox {
    spacing:                     10px;
    padding:                     10px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    ["inputbar", "message", "listview"];
}

inputbar {
    enabled:                     true;
    spacing:                     7px;
    padding:                     13px;
    border-radius:               @rounding;
    background-color:		         #00000000;
    text-color:			             @fg;
    children:                    [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "  ";
    background-color:            #00000000;
    text-color:                  @fg;
}

entry {
    enabled:                     true;
    background-color:            @bg-primary;
    text-color:                  @fg;
    cursor:                      text;
    placeholder:                 " Search...";
    background-color:            #00000000;
    placeholder-color:           #808080aa;
}

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       5;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               true;

    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @fg;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     12px;
    padding:                     12px;
    border-radius:               @rounding;
    background-color:            transparent;
    text-color:                  @fg;
    cursor:                      pointer;
}

element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}

element normal.urgent {
    background-color:            @error;
    text-color:                  @fg-secondary;
}

element normal.active {
    background-color:            @bg-secondary;
    text-color:                  @fg-secondary;
}

element selected.normal {
    background-color:            transparent;
    text-color:                  @accent;
}

element selected.urgent {
    background-color:            @error;
    text-color:                  @fg;
}

element selected.active {
    background-color:            @error;
    text-color:                  @fg;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

message {
    background-color:            transparent;
}

error-message {
    padding:                     12px;
    border-radius:               @rounding;
    background-color:            @bg-secondary;
    text-color:                  @fg-secondary;
}
