@theme "/dev/null"
@import "/theme.rasi"

configuration {
	modi: "window,run,drun";
	display-drun: "Applications";
	display-window: "Windows";
	display-run: "Run";
	drun-display-format: "{icon} {name}";
	font: "CaskaydiaCove Nerd Font 11";
	show-icons: true;
}

window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       350px;
    height:                      360px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    border:			 1px solid;
    border-color:		 @window-border;
    border-radius:               @rounding;
    cursor:                      "default";
    background-color:            @background-primary;
}

mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 horizontal;
    children:                    ["listbox" ];
}

imagebox {
    padding:                     20px;
    background-color:            #505050;
    background-image:            url("~/Pictures/wallpapers/023.jpg", height);
    orientation:                 vertical;
    children:                    [ "inputbar", "dummy", "mode-switcher"];
}

listbox {
    spacing:                     10px;
    padding:                     10px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    ["inputbar", "message", "listview"];
}

dummy {
    background-color:            transparent;
}

inputbar {
    enabled:                     true;
    spacing:                     7px;
    padding:                     13px;
    border-radius:               @rounding;
    background-color:		         @background-primary;
    text-color:			             @text-secondary;
    children:                    [ "textbox-prompt-colon", "entry" ];
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "  ";
    background-color:            inherit;
    text-color:                  @text;
}
entry {
    enabled:                     true;
    background-color:            @background-primary;
    text-color:                  @text;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           @text-secondary;
}

mode-switcher{
    enabled:                     true;
    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @text-secondary;
}
button {
    padding:                     12px;
    border-radius:               @rounding;
    background-color:            @background-secondary;
    text-color:                  @text-secondary;
    cursor:                      pointer;
}
button selected {
    background-color:            @background-secondary;
    text-color:                  @text;
}

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       8;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     10px;
    background-color:            transparent;
    text-color:                  @text-secondary;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     12px;
    padding:                     12px;
    border-radius:               @rounding;
    background-color:            transparent;
    text-color:                  @text-secondary;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}
element normal.urgent {
    background-color:            @error;
    text-color:                  @text-secondary;
}
element normal.active {
    background-color:            @background-secondary;
    text-color:                  @text-secondary;
}
element selected.normal {
    background-color:            transparent;
    text-color:                  @text;
}
element selected.urgent {
    background-color:            @error;
    text-color:                  @text;
}
element selected.active {
    background-color:            @error;
    text-color:                  @text;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

message {
    background-color:            transparent;
}
textbox {
    padding:                     12px;
    border-radius:               @rounding;
    background-color:            @background-secondary;
    text-color:                  @text-secondary;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message {
    padding:                     12px;
    border-radius:               @rounding;
    background-color:            @background-secondary;
    text-color:                  @text-secondary;
}
