* {
    accent: #d79921;
    bg-primary: #1d2021;
    bg-primary-opacity: #1d2021e6;

    bg-secondary: #282828;

    fg: #ebdbb2;
    fg-secondary: #21222C;

    error: #ff7878;

    rounding: 0px;
}
