* {
    accent: #E2B86B;
    bg-primary: #1c1b19;
    bg-primary-opacity: #1c1b19e6;

    bg-secondary: #1A1816;

    fg: #E8D9C3;
    fg-secondary: #21222C;

    error: #ff7878;

    rounding: 0px;
}
