* {
    accent: #89b4fa;
    bg-primary: #1e1e2e;
    bg-primary-opacity: #1e1e2ee6;

    bg-secondary: #45475A;

    fg: #cdd6f4;
    fg-secondary: #45475A;

    error: #ff7878;

    rounding: 0px;
}
